body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	-o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    
}

.navbar{
	padding: 15px 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:rgba(0,0,0,0.85);
	border:none;
	border-radius:0;
	margin-bottom:0px;
	}

.navbar-brand{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:32px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:0;
	}
	
.navbar-inverse .navbar-brand{
	margin-left:20px;
	color:#FFF;
	}
	
.navbar-brand small{
	display:block;
	font-size:14px;
	font-style:italic;
	margin-left:-20px;
	padding-top:5px;
	}

.navbar-inverse .nav > li > a{
	color:#FFF;
	font-size:14spx;
	font-weight:bold;
	}
	
.navbar-inverse .nav > li > a:hover{
	background-color:#159700;
	}
	
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  	background-color:#159700;
	}
	
.navbar-inverse .navbar-nav .dropdown-menu{
	background-color:rgba(0,0,0,0.80);
	opacity:2.0;
	border: 0;
  	padding: 0;
  	border-radius: 0 0 5px 5px;
	margin-top:15px;
	}
	
.navbar-inverse .navbar-nav .dropdown-menu > li > a{
	color:#FFF;
	}
	
.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .dropdown-menu > li > a:focus{
	background-color:#159700;
	}

.dropdown:hover .dropdown-menu{
        display: block;
        margin: 0;
        }

.menu-footer{
    text-transform: uppercase;
    font-weight: 350;
    letter-spacing: 2px;
}

.img-full {
    min-width: 100%;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.85);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #000;
}

footer p {
    margin: 0;
    padding: 50px 0;
}

.rcorners {
	border: 2px solid #000000;
        border-radius: 5px;
}

.rcornersSide {
	border: none;
        border-radius: 5px;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    /*.navbar {
        padding: 15px 0;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
		background-color:rgba(0,0,0,0.85);
		opacity:2.0;
		border:none;
		border-radius:0;
    }

    .navbar-inverse .nav>li>a {
        color:#FFF;
		font-size:16px;
		font-weight:bold;
		/*padding: 35px;*/
    }

    /*.navbar-nav>li>a {
        line-height: normal;
    }
	
	.navbar-inverse .nav > li > a:hover{
		background-color:#159700;;
	}

	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:hover,
	.navbar-inverse .navbar-nav > .active > a:focus,
	.navbar-inverse .navbar-nav > .open > a,
	.navbar-inverse .navbar-nav > .open > a:hover,
	.navbar-inverse .navbar-nav > .open > a:focus {
		background-color:#159700;;
	}
		
	.navbar-inverse .navbar-nav .dropdown-menu{
		background-color:rgba(0,0,0,0.85);
		opacity:2.0;
		border: 0;
		padding: 0;
		border-radius: 0 0 5px 5px;
		margin-top:15px;
	}
		
	.navbar-inverse .navbar-nav .dropdown-menu > li > a{
		color:#FFF;
	}
		
	.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
	.navbar-inverse .navbar-nav .dropdown-menu > li > a:focus{
		background-color:#159700;;
	}
	
        .dropdown:hover dropdown-menu{
            display: block;
            margin: -1;
        }
}*/

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}





/*Social icons*/

.overlay { 
  	color:#000;
  	position:absolute;
  	z-index:12;
  	top:50%;
	left:0;
  	width:100%;
  	text-align:center;
}
.social-icons{
	font-size:46px;
	text-align:right;
}
	
.social-icons > li > a > i{
	color:#5C7510;
	border-radius:0;
	border-style:none;
}


/*Footer Styles*/

#footer {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  background:rgba(0,0,0,0.85);
  opacity:2.0;
}

#footer a {
  color: #fff;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

#footer-menu{
	list-style:none;
}
	
#footer-menu li{
	padding-top:20px;
	text-align:left;
}
	
#footer-menu li > a:hover,
#footer-menu li >a:focus{
	text-decoration:none;
	color:#799B12;
}
	
#subscribe{
	text-align:right;
}

#subscribe-btn{
	background-color:#799B12;
}
	
#email-subscribe{
	font-style:italic;
}
	
#email-id a:hover,
#email-id a:focus{
	color:#799B12;
	text-decoration:none;
}

